<template name="header">
  <header class="navigation" role="banner">
    <div class="navigation-wrapper">
      <a href="{{pathFor 'home'}}" class="logo">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image">
      </a>
      <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
      <nav role="navigation">
        <ul id="js-navigation-menu" class="navigation-menu show">
          <li class="nav-link more"><a href="#">Blog</a>
            <ul class="submenu">
              <li><a href="{{pathFor 'personalBlog'}}">Personal Blog</a></li>
              <li><a href="{{pathFor 'technicalBlog'}}">Technical Blog</a></li>
            </ul>
          </li>
          <li class="nav-link more"><a href="#">Music</a>
            <ul class="submenu">
              <li><a href="{{pathFor 'music2014'}}">2014</a></li>
              <li><a href="{{pathFor 'music2015'}}">2015</a></li>
            </ul>
          </li>
          <li class="nav-link more"><a href="#">Projects</a>
            <ul class="submenu">
              <li><a href="{{pathFor 'projects'}}">SpeakIt</a></li>
              <li><a href="{{pathFor 'projects'}}">ChessMentor</a></li>
              <li><a href="{{pathFor 'projects'}}">SoTracks</a></li>
            </ul>
          </li>
          <li class="nav-link"><a href="{{pathFor 'resume'}}">Resume</a></li>
        </ul>
      </nav>
      <div class="navigation-tools">
        <div class="search-bar">
          <form role="search">
            <input type="search" placeholder="Enter Search" />
            <button type="submit">
              <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
            </button>
          </form>
        </div>
      </div>
    </div>
  </header>
</template>
