@import "bourbon/bourbon";
@import "neat/neat";
@import "variables";
@import "navbar";
@import "home";
$light-blue: #64B2CC;

.main-container {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -10px;
}

a {
  text-decoration: none;
  color: darken($light-blue, 15%);
  &:hover {
    text-decoration: underline;
  }
}
br {
   display: block;
   margin: 1px 0;
   line-height: 0;
}

.profile-holder {
  display: flex;
  margin-left: 4em;
  h2.profile-title {
    margin-top: 20px;
  }
  .profile {
    border-radius: 50%;
    margin-left: 5px;
  }
}
.container {
  @include outer-container;
  @include row(table);
  max-width: 1300px;
  h1, h2 {
    margin: 0;
    padding: 0;
    line-height: 1.3;
  }
  h1 {
    font-size: 4em;
    color: $light-blue;
  }
  h1.page-title {
    color: darken($light-blue, 15%);
  }
  p {
    font-size: 2.8em;
    line-height: 1.2;
  }
  .home-page-intro {
    @include span-columns(8);
    @include omega();
    padding-left: 3em;
    padding-right: 1em;
    .space-break {
      height: 1px;
    }
  }
  .home-page-sidebar {
    @include span-columns(4);
    background: #f7f7f7;
    .space-break {
      height: 2px;
    }
    .sidebar-content {
      p {
        font-size: 1.4em;
        padding: .5em;
      }
      .sidebar-title {
        padding-left: .5em;
        line-height: 1.5;
        padding-right: .5em;
        font-size: 2em;
        color: #f7f7f7;
        background: darken($light-blue, 20%);
      }
    }
  }
}

* {
  font-family: 'Lateef', cursive;
  font-style: italic;
  font-weight: 400;
  color: black;
  -webkit-margin-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
