.blog-container {
  padding: 2em;
  overflow: auto;
  p.blog-paragraph, p, pre {
    text-align: left;
    font-size: 1.7em;
    width: 95%;
    margin: auto;
  }
  code {
    font-size: .65em;
    background: #f7f7f7;
    color: #333
  }
}
.blog-content {
  text-align: center;
}
p.blog-paragraph.main-paragraph {
  text-align: center;
  width: 60%;
}
.blog-image {

}