.social-icons {
  max-width: 3em;
  max-height: 3em;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}
.profile-holder.social-icon-holder {
  margin: auto;
  text-align: center;
  max-width: 7em;
}
.resume-container, .music-container {
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
}
.songs {
  padding: 4em;
}
li a {
  font-size: 2.8em;
}
.project-image {
  width: 15em;
  height: 8em;
}
.project-container {
  padding: 1em;
  padding-left: 4em;
  .project-link {
    font-size: 2em;
    font-weight: 300;
  }
  li {
    list-style-type: none;
  }
  .project-description {
    font-size: 1.2em;
    width: 50%;
  }
}
.tweets-feed {
  padding: .3em;
  p {
    background: white;
    margin-top: .3em;
    margin-bottom: .2em;
    border-radius: 4px;
  }
}
b {
  font-weight: bold;
}
.github-feed {
  padding: .3em;
  .github-repos {
    background: white;
    margin-top: .3em;
    margin-bottom: .2em;
    border-radius: 4px;
    p.small {
      line-height: .2;
    }
    p.updated {
      font-size: 1.2em;
    }
  }
}
