.social-icons {
  max-width: 3em;
  max-height: 3em;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}
.profile-holder.social-icon-holder {
  margin: auto;
  text-align: center;
  max-width: 7em;
}
.resume-container, .music-container {
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
}
.songs {
  padding: 4em;
}
li a {
  font-size: 2.8em;
}
