<template name="home">
  <div class="home-page-intro">
    <br/>
    <div class="space-break"></div>
    <div class="profile-holder">
      <img class="profile" src="https://s.gravatar.com/avatar/e5482dfaa264ed66b660327734b4ff06?s=80" alt=""/>
      <h1 class="page-title"> &nbsp;Tom Goldenberg </h1>
    </div>
    <p class="site-greeting">Welcome to my website!</p>
    <div class="profile-holder social-icon-holder">
      <a href="https://www.facebook.com/speakitlanguageapp">
        <img class="social-icons facebook" src="facebook.png" alt="">
      </a>
      <a href="https://www.twitter.com/tomgoldenberg">
        <img class="social-icons twitter" src="twitter.png" alt="">
      </a>
      <a href="https://www.linkedin.com/pub/tom-goldenberg/88/54b/670">
        <img class="social-icons linkedIn" src="linkedin.png" alt="">
      </a>
    </div>
    <div class="comment">
      <div class="comment-image">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
      </div>
      <div class="comment-content">
        <h1>Web Development</h1>
        <p>Since <b>October 2014</b> I've been developing the web. Read about some of my
          <a href="{{pathFor 'projects'}}">projects here</a>. I also keep a journal of my progress in my
          <a href="{{pathFor 'technicalBlog'}}">technical blog</a>. You can check out my
          <a href="{{pathFor 'resume'}}">resume</a> if interested in hiring or collaboration.</p>
      </div>
    </div>

    <div class="comment">
      <div class="comment-image">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="Logo image">
      </div>
      <div class="comment-content">
        <h1>About Me</h1>
        <p>I like to <a href="{{pathFor 'music'}}">listen to</a> and create music.
          Here is a link to my <a href="{{pathFor 'music'}}">recordings</a>.
          I also try to record and reflect the varied experiences life throws at me in my
          <a href="{{pathFor 'personalBlog'}}">personal blog</a>.
          I consider myself a <a href="{{pathFor 'read'}}">life learner</a>
          and am always looking to expand my knowledge.
          I am ever grateful for having wonderful <a href="{{pathFor 'friends'}}">friends</a>,
          a loving <a href="{{pathFor 'jess'}}">life partner</a>, and a
          <a href="{{pathFor 'ella'}}">wondeful dog-ter</a>.
        </p>
      </div>
    </div>

  </div>

  <div class="home-page-sidebar">
    <div class="space-break"></div>
    <div class="sidebar-content spotlight">
      <h2 class="sidebar-title">Spotlight</h2>
      <p>Truffaut keytar American Apparel, sriracha irony pug Godard plaid. Brunch ugh Godard, Neutra narwhal squid meditation tofu cardigan gentrify iPhone. Tousled quinoa PBR, Tumblr shabby chic bespoke gastropub Pinterest put a bird on it cray authentic.</p>
    </div>
    <div class="sidebar-content">
      <h2 class="sidebar-title">Latest Blog Posts</h2>
      <p>Put a bird on it mustache meggings, Godard messenger bag cred Helvetica ugh roof party. Fixie single-origin coffee you probably haven't heard of them mustache. Pug butcher wolf mlkshk vegan tofu, artisan retro synth 90's slow-carb distillery. </p>
    </div>
    <div class="sidebar-content">
      <h2 class="sidebar-title">Latest Tweets</h2>
      <p>Fingerstache meh health goth, Odd Future irony pork belly pickled distillery selvage food truck mustache banh mi.</p>
    </div>
    <div class="sidebar-content">
      <h2 class="sidebar-title">Latest Github activity</h2>
      <p>Fingerstache meh health goth, Odd Future irony pork belly pickled distillery selvage food truck mustache banh mi.</p>
    </div>
  </div>
</template>
