<template name="home">
  <div class="home-page-intro">
    <br/>
    <div class="space-break"></div>
    <div class="profile-holder">
      <img class="profile" src="https://s.gravatar.com/avatar/e5482dfaa264ed66b660327734b4ff06?s=80" alt=""/>
      <h1 class="page-title"> &nbsp;Tom Goldenberg </h1>
    </div>
    <p class="site-greeting">Welcome to my website!</p>
    <div class="profile-holder social-icon-holder">
      <a href="https://www.facebook.com/speakitlanguageapp" style="margin-left:40px;">
        <img class="social-icons facebook" src="facebook.png" alt="">
      </a>
      <a href="https://www.twitter.com/tomgoldenberg">
        <img class="social-icons twitter" src="twitter.png" alt="">
      </a>
      <a href="https://www.linkedin.com/pub/tom-goldenberg/88/54b/670">
        <img class="social-icons linkedIn" src="linkedin.png" alt="">
      </a>
    </div>
    <br/>
    <div class="comment">
      <div class="comment-image">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
      </div>

      <div class="comment-content">
        <h1>Web Development</h1>
        <p>Since <b>October 2014</b> I've been developing the web. Read about some of my
          <a href="{{pathFor 'projects'}}">projects here</a>. I also keep a journal of my progress in my
          <a href="{{pathFor 'technicalBlog'}}">technical blog</a>. You can check out my
          <a href="{{pathFor 'resume'}}">resume</a> if interested in hiring or collaboration.</p>
      </div>
    </div>

    <div class="comment">
      <div class="comment-image">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="Logo image">
      </div>
      <div class="comment-content">
        <h1>About Me</h1>
        <p>I like to listen to and create music.
          Here is a link to my <a href="{{pathFor 'music'}}">recordings</a>.
          I also try to record and reflect the varied experiences life throws at me in my
          <a href="{{pathFor 'personalBlog'}}">personal blog</a>.
          I consider myself a life learner
          and am always looking to expand my knowledge.
          I am ever grateful for having wonderful friends,
          a loving life partner, and a
          wondeful dog-ter.
        </p>
      </div>
    </div>
  </div>

  <div class="home-page-sidebar col-md-4 hidden-sm hidden-xs">
    <div class="space-break"></div>
    <div class="sidebar-content spotlight">
      <h2 class="sidebar-title">Spotlight</h2>
      <p><a href="{{pathFor 'projects'}}">SpeakIt</a> was featured in an article by Dev Bootcamp. The article talks about the challenges the SpeakIt team faced in developing an online language-exchange, and how they overcame them. Read more <a href="http://blog.devbootcamp.com/2015/speakit-learn-languages-from-native-speakers/">here</a></p>
    </div>
    <div class="sidebar-content">
      <h2 class="sidebar-title">Latest Blog Posts</h2>
      {{#each posts}}
        <div class="github-feed">
          <div class="github-repos">
            <p class="small"><b>Title:</b> <a href="posts/{{this._id}}">{{this.title}}</a></p>
            <p><b>Description:</b> {{this.mainParagraph}}</p>
            <p class="small updated">Posted {{livestamp this.createdAt}}</p>
          </div>
        </div>
      {{/each}}
    </div>
    <div class="sidebar-content">
      <h2 class="sidebar-title">Latest Tweets</h2>
      <div class="tweets-feed">
        {{#each tweets}}
          <p>{{this.text}}</p>
        {{/each}}
      </div>
    </div>
    <div class="sidebar-content">
      <h2 class="sidebar-title">Latest Github activity</h2>
      {{#each github}}
        <div class="github-feed">
          <div class="github-repos">
            <p class="small"><b>Name:</b> <a href="{{this.url}}">{{this.name}}</a></p>
            <p><b>Description:</b> {{this.description}}</p>
            <p class="small updated">Updated at {{livestamp this.updatedAt}}</p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</template>
