<template name="home">
  <div class="home-page-intro">
    <h1 class="page-title">Hi! I'm Tom Goldenberg</h1>
    <div class="profile-holder">
      <h2 class="profile-title"><b><a href="">Me</a> => </b></h2><img class="profile" src="https://s.gravatar.com/avatar/e5482dfaa264ed66b660327734b4ff06?s=80" alt=""/>
    </div>
    <h2>I develop the <a href="#">web</a>.</h2>
    <h2>I love and create <a href="">music</a>.</h2>
    <h2>I record and <a href="">reflect</a> on my experiences.</h2>
    <h2>I also <a href="">write</a> about my trade.</h2>
    <h2>I am blessed with <a href="">great friends</a> and relationships with <a href="">great companies.</a></h2>
    <h2>I love to <a href="">collaborate</a>.</h2>
    <h2>I lived in <a href="">South India</a> for 9 years and used to teach <a href="">Sanskrit</a>.</h2>
    <h2>I love to <a href="">read</a>.</h2>
    <h2>I founded <a href="">SpeakIt</a>.</h2>
    <h2>I have an <a href="">amazing wife</a> and a <a href="">beautiful dog-ter</a>.</h2>
    <h2><a href="">Contact Me</a></h2>
  </div>
  <div class="home-page-sidebar">
    
  </div>
</template>
