<template name="technicalBlog">
  <div class="blog-container">
  	{{#if isAdmin}}
  		<a href="/submit" class="btn btn-default">New Post</a>
  	{{/if}}
    <h1>Technical Blog</h1>
    <p>Posts: </p>
    <ul class="posts">
      {{#each posts}}
        <li><a href="posts/{{this._id}}">{{title}}</a></li>
        {{#if noComments}}
        <a href="{{pathFor 'postPage'}}">0 comments</a>        
        {{else}}
        <a href="{{pathFor 'postPage'}}">{{commentsCount}} comment(s)</a>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</template>
