<template name="postPage">
  <div class="blog-container blog-content container-fluid">
    <h1>{{title}}</h1>
    <div class="row">
	    <p class="blog-paragraph main-paragraph">{{mainParagraph.text}}</p><hr/><br/>
    </div>
    {{#each paragraphs}}
    <div class="row">
    	<div class="col-md-7">
    		<span class="blog-paragraph">
     			{{{makeHTML this.text}}}
	 		</span><br/>
    	</div>
    	<div class="col-md-5">
            {{#if imageUrlExists this}}
                <img width="400" src="{{this.image_url}}" class="blog-image"/><br/>
            {{/if}}
            {{#if gistExists this}}
        		{{{gist "tgoldenberg" this.gist}}}
            {{/if}}
    	</div>
    </div><br/>
    {{/each}}
  </div>
</template>
