<template name="postSubmit">
	<h1>New Post</h1>
	<div class="edit-post-wrapper">
		<form id="edit-post-form">
			<p>Title: </p>
			<input name="title" type="text" value=""/>
			<p>Type: </p>
			<select name="type" type="text">
				<option value="personal">personal</option>
				<option value="technical">technical</option>
			</select>
			
			<p>Paragraphs: </p>
				<div class="paragraphs">
					<div class="paragraph-form">
						<textarea name="paragraph-text" id="" rows="6"></textarea>
						<p>Image URL:</p>
						<input name="paragraph-url" type="text">
						<p>Gist:</p>
						<input name="paragraph-gist" type="text">
					</div>
				</div>
				<button class="btn btn-default btn-lg" id="add-paragraph">Add paragraph</button>
			<input type="submit" id="form-submit" class="btn btn-lg btn-primary"/>
		</form>
	</div>
</template>